@import "../CSS/variables";
// $textcolor: white;

@mixin d_flex(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    padding-inline: 5%;
}
nav{
    width: 100%;
    height: 70px;
    padding-inline: 5%;
    position: fixed;
    @include d_flex();
    background: rgba(8, 4, 239, 0.9);
    z-index: 99;

    .logo{
         color: white;
    }
    ul{
        @include d-flex();
        gap: 20px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $textcolor;
            }
        }
    }
    .social-medias{
        display: flex;
        gap: 20px;
        a{
            color: white;
        }
    }
}

// hero page starts

.hero{
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(../images/Black\ woman\ massage.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: $textcolor; 
    h1{
        font-size: 4rem;
        color: $textcolor;   
    }
    p{
        font-size: 1.2rem;
        color: $secondarycolor;   
    }
}

// section 2: about styles

.about{
    width: 100%;
    padding-block: 30px;
   .wrapper{
    width: 100%;
    min-height: 100vh;
    @include d_flex();
    gap: 30px;
    position: relative;

    h1{
        position: absolute;
        top: 100px;
        left: -60px;
        transform: translateX(90%);
        font-size: 60px;
        letter-spacing: 10px;
    }
 
   }
   .wrapper>*{
    flex: 1;
   }
}

// section 3: services
.services{
    background: rgb(247, 194, 94);
    width: 100%;
}
// section 4: gallery

.gallery{
    width: 100%;
    padding-block: 50px;
    .images{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 100%;
        
        
        img{
            width: 100%;
            height: 150px;
           
            

        }
    }
}

.footer{
    background: rgb(6, 6, 116);
    padding-block: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}

.footer>*{
    flex: 1;
}

@media (max-width: 768px) {
   .about{
       .wrapper{
        flex-direction: column;
        justify-content: unset;
        min-height: auto;
        gap: 20px;
        h1{
          position: unset;
          top: 0x;
          left: 0px;
          transform: translateX(0);
          font-size: 36px;
          letter-spacing: 10px;
      }
      .image{
        img{
            width: 100%;
            min-height: 40vh;
        }
    }
       }
   }

// gallery
   .gallery{
    .images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);       
        
        img{
            width: 100%;
            height: 80vh;
           
            

        }
    }
}

}